<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>

 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">여기저기거기</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/kyochon.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">교촌치킨</h4>
            <p class="card-text">1978년 창업한 대구통닭이 간장치킨의 원조이고 다른 치킨 브랜드와 달리 간장치킨이 간판 메뉴이다.
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/puradak.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">푸라닭</h4>
            <p class="card-text">'순수함＇을 뜻하는 'PURA'와 닭을 뜻하는 'DAK'의 합성어(푸라+닭)로 "치킨도 요리다"라는 
            					순수한 믿음을 가진 순수한 사람들이 만들어 가는 브랜드를 표현하기 위해 탄생한 브랜드이다.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/bhc.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">BHC</h4>
            <p class="card-text">1997년 별하나치킨이라는 이름으로 창립했으며 그 유명한 콜팝을 필두로 야채치킨 등의 
            	특이한 제품으로 마이너적인 인기를 누리다가 2000년에 이니셜을 따서 BHC라는 이름을 앞세우게 되었다</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/goobne.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">굽네치킨</h4>
            <p class="card-text">기름진 후라이드 치킨을 잘 안 먹는 사람들을 위한 대표적인 브랜드!</p>
								<p>지금 바로 만나보세요!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
