<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">

</head>

<body>

 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">여기저기거기</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
   <!-- 기본 가테고리  -->
<div class="SMS_BaseMenu_01 JKJ_loginDisplay"> 
   <div class="container_Box">
      <ul>
	<li><a href="①">③MENU<span>|</span></a></li>
	<li><a href="①">③MENU<span>|</span></a></li>
	<li><a href="①">③MENU<span>|</span></a></li>
	<li><a href="①">③MENU<span>|</span></a></li>
	<li><a href="①">③MENU</a></li>
      </ul>
   </div>
</div>
    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/ggot.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">꽃초밥</h4>
            <p class="card-text">꽃 초밥, 회덮밥으로 맛있고 유명한 곳!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/mugong.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">무공돈까스</h4>
            <p class="card-text">가장 중요한맛, 매장 인테리어, 메뉴구성! 어느곳 하나 빈틈이 없는 치밀함!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/dong.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">용우동</h4>
            <p class="card-text">20년 전통의 용우동, '우동' 하면 생각나는 기업 1위 용우동 입니다.
            					항상 한결같은 그 맛 용우동!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/club.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">돈까스클럽</h4>
            <p class="card-text">돈까스클럽은 돈까스를 비롯 화덕피자,스파게티 등 50개의 메뉴를 구성해
            					고객에게 편리성과 합리성 다양성을 제공합니다. 언제든지 편안하게 찾는 업체 돈까스클럽.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
