<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <link href="css/cartegori2.css" rel="stylesheet" >

</head>

<body>
	<div class="container" th:fragment="japanesefood_contents">
    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/ggot.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">꽃초밥</h4>
            <p class="card-text">꽃 초밥, 회덮밥으로 맛있고 유명한 곳!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/mugong.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">무공돈까스</h4>
            <p class="card-text">가장 중요한맛, 매장 인테리어, 메뉴구성! 어느곳 하나 빈틈이 없는 치밀함!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/dong.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">용우동</h4>
            <p class="card-text">20년 전통의 용우동, '우동' 하면 생각나는 기업 1위 용우동 입니다.
            					항상 한결같은 그 맛 용우동!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/club.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">돈까스클럽</h4>
            <p class="card-text">돈까스클럽은 돈까스를 비롯 화덕피자,스파게티 등 50개의 메뉴를 구성해
            					고객에게 편리성과 합리성 다양성을 제공합니다. 언제든지 편안하게 찾는 업체 돈까스클럽.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
           </div>
        </div>
      </div>

    </div>
			
		</div>
	
</body>

