<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <link href="css/cartegori2.css" rel="stylesheet" >

</head>

<body>

 <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">여기저기거기</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

       <!-- 기본 가테고리  -->
<div id="menu1"> 
      <ul>
	<li><a href="chicken">치킨</a></li>
	<li><a href="pizza">피자</a></li>
	<li><a href="middlefood">중식</a></li>
	<li><a href="①">한식</a></li>
	<li><a href="①">일식/돈까스</a></li>
	<li><a href="①">족발/보쌈</a></li>
	<li><a href="①">야식</a></li>
	<li><a href="①">분식</a></li>
	<li><a href="①">카페/디저트</a></li>
	<style>
ul{
   list-style:none;
   }
</style>
      </ul>
</div>

  <!-- Page Content -->
  <div class="container">
    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/kingkong.png" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">킹콩부대찌개</h4>
            <p class="card-text">한국인이면 누구나 좋아하는 메뉴, '배부름의 즐거움' 무한리필,
						   전문적인 성공창업지원시스템이 자랑인 브랜드!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/thejingook.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">The 진국</h4>
            <p class="card-text">편한 운영으로 삶의 여유를 누리며 매장을 운영하고, 수익성까지 보장돼 가맹점주님의 삶의 질을 높입니다.
유망 창업 아이템의 3가지 조건인 운영 편의성, 수익성, 장기성을 모두 갖춘 브랜드 더진국입니다.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/leeteacher.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">이선생짜글이</h4>
            <p class="card-text">10년의 정성과 고집 메뉴의 전문화와 맛에 집중했습니다.
								대중적인 메뉴로 유행에 민감하지 않고, 불황을 타지 않는, 한국인의 영원한 소울푸드</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/naggop.png" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">낙곱새부대장부대찌개</h4>
            <p class="card-text">저희 부대장은 고객이 원하는 세상, 고객으로부터 언제나 사랑받는
								 미래를 창조하는 기업인 토종브랜드입니다.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
