<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <link href="css/cartegori2.css" rel="stylesheet" >

</head>

<body>

  <!-- Page Content -->
	<div  class="container" th:fragment="koreanfood_contents" >
	
		<h1 align="center" >마! 국밥 함 무바라! 즥인다!</h1>
		<section id="demos" >
		<div  class="row" >
		<div class="large-12 columns" >
		<div class="owl-carousel owl-theme d" >

	<div class="item" th:each="food : ${Store}">
			<img th:if="${food.logo_file != null}" width="200" height="200" th:src="|data:${food.logo_file.contentType};base64,${food.logo_file.base64}|">
			<img th:if="${food.logo_file == null}" width="200" height="200" th:src="@{/images/none.png}">
		<h4 align="center" th:text="${food.name}">1</h4>
		
		<div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
		</div>
				
		
		</div>
		</div>
		</div>
		</section>
	
		<script type="text/javascript">
		
		$(document).ready(function(){
			//jquery 시작!
			$('.owl-carousel').owlCarousel({
				loop:true,
				margin: 10,
				nav:true,
				responsive:{
					0:{
						items:1
					},
					600:{
						items:3
					},
					1000:{
						items:5
					}
				}
			});
		});
		</script>
		
		
		
		</div>
	</body>
	
	</html>
