<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <link href="css/cartegori2.css" rel="stylesheet" >

</head>
<body>
  <!-- Page Content -->
  <div class="container" th:fragment="pizza_contents">

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/domino.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">도미노피자</h4>
            <p class="card-text">1960년 아일랜드계 미국인인 토마스 스티븐 매너한 (Thomas Stephen Monaghan)이 창업한 미국의 식품회사</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/pizzahut.gif" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">피자헛</h4>
            <p class="card-text">세계적으로 유명한 미국의 피자 체인점. 저렴한 가격에 토핑이 많이 올라가 있으니 가성비 갑!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/59pizza.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">59쌀피자</h4>
            <p class="card-text">테이크아웃을 전문으로 하는 저가 피자 브랜드의 하나. 59피자라는 명칭은 가장 기본적이며 저렴한 콤비네이션 피자가 5900원인 것에서 유래하였으며, 
            					광고 카피인 '맛있어서 오구, 생각나서 오구' 역시 여기에서 나왔다.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/pizzanara.png" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">피자나라치킨공주</h4>
            <p class="card-text">세트메뉴의 정석! 다른 브랜드의 세트가격보다 저렴하게 세트메뉴를 즐길 수 있다. 가성비를 생각하면 단연 원탑 브랜드!</p>
            					
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
           </div>
        </div>
      </div>

    </div>
			
		</div>
	
</body>

