<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Heroic Features - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <link href="css/cartegori2.css" rel="stylesheet" >

</head>

<body>

  <!-- Page Content -->
	<div class="container" th:fragment="yasik_contents">


    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/lotte.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">롯데리아</h4>
            <p class="card-text">맛있는 즐거움이 찾아온다, 롯데리아에서 빠르고 편리하게 주문하세요.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/mac.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">맥도날드</h4>
            <p class="card-text">1955년 작은 레스토랑에서부터 지금에 이르기까지 고객이 가장 좋아하는 장소이자,
							     음식을 즐기는 최고의 방법이 되기 위해 맥도날드는 오늘도 노력합니다.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/halmae.jpg" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">홍콩할매불닭발</h4>
            <p class="card-text">예상대로 맛있고, 예상보다 잘 된다! 확실한 닭발을 원할땐 홍콩할매붉닭발.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="/images/firedak.png" alt="" height="300">
          <div class="card-body">
            <h4 class="card-title">오늘은불닭발</h4>
            <p class="card-text">뼈있는/뼈없는, 국있는/국없는 소비자 맞춤 닭발 업체 오늘은불닭발.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">  주    문  </a>
                  </div>
        </div>
      </div>

    </div>
			
		</div>
	
</body>
