@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');



#menu1{
	background: rgb(192, 192, 192);
	width:  100%;
	margin: 0 auto;
	overflow: hidden;
}

.navbar{
	margin-bottom: 0px;
}



#menu1 ul li{
	float: left;
	width: 11.1%;
	height: 100%;
	line-height: 50px;
	text-align: center;
	background: rgb(219, 220, 225);	
}

#menu1 ul li a{
	display: block;
}


#menu1 ul li a:hover{
	background: #138535;
	color: #fff;
}

.sidebar{
	position: fixed;
	display: block;
	top: 50px;
	bottom: 0;
	display: flex;
	background-color: rgb(28, 165, 247);
}

.sidebar ul{
	width: auto;
	margin: 0 auto;
	overflow: hidden;
}