<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>요청</title>
<script src="/jquery/jquery.min.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div th:fragment="store-register-page" class="container">
<form enctype="multipart/form-data" method="post" th:object="${store}" th:action="@{/store/register}">
<input type="hidden" th:field="*{userId}">
<table>
	<tr>
		<td><label>점포명</label></td>
		<td colspan="2"><input type="text" required><br></td>
	</tr>
	<tr>
		<td><label>점포주명</label></td>
		<td colspan="2"><input type="text" required></td>
	</tr>
	<tr>
		<td><label>사업자번호</label></td>
		<td colspan="2"><input type="text"></td>
	</tr>
	<tr>
		<td><label>주소</label></td>
		<td><input type="text" id="address"></td>
		<td><button id="search">주소검색</button></td>
	</tr>
	<tr>
		<td><label>전화번호</label></td>
		<td colspan="2"><input type="tel"></td>
	</tr>
	<tr>
		<td><label>프렌차이즈</label></td>
		<td colspan="2"><input type="text"></td>
	</tr>
	<tr><td colspan="3" class="text-right"><input type="submit" class="btn btn-primary" value="등록"></td></tr>
</table>
</form>
</div>

<script>
$('#search').on('click',function(){
	new daum.Postcode({
        oncomplete: function(data) {
            $('#address').val(data.roadAddress);
        }
    }).open();
});
</script>
</body>
</html>