<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>요청</title>
<script src="/jquery/jquery.min.js"></script>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div th:fragment="store-update-menu-page" class="container">
<div class="row container-fluid">
	<div class="col-xs-12 col-sm-9" >
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<h4 class="panel-title">
						<a data-toggle="collapse" href="#collapseOne"
							aria-expanded="true" aria-controls="collapseOne">대분류1</a>
					</h4>
				</div>
				<div id="collapseOne" class="panel-collapse collapse"
					role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body row">
						<div class="col-xs-12">
							<table style="width:100%;">
								<tr>
									<td>name</td>
									<td class="text-right" rowspan="2"> <img style="width:auto;height:100%;" src="/images/club.jpg"></td>
								</tr>
								<tr>
									<td>price</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 	<div class="col-xs-12 col-sm-3" style="height:100px;background: lime;"></div>
</div>
</div>
</body>
</html>