<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>요청</title>
<script src="/jquery/jquery.min.js"></script>
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>
<body>

<div th:fragment="store-list-page" class="container">
<div th:if="${#authentication.principal.userinfo.storeState == '2'}" class="row">
<table border="1" class="table table-hover">
	<caption class="text-right"><button class="btn btn-success" onclick="javascript:location.href='/store/register'">점포 추가</button></caption>
	<thead>
		<tr class=success>
			<th>로고</th>
			<th>업체명</th>
			<th>비고</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="store : ${store_list}" >
			<td><a th:href="|/store/${store.store_pk}/menu/update|">
			<img th:if="${store.logo_file != null}" width="100" height="100" th:src="|data:${store.logo_file.contentType};base64,${store.logo_file.base64}|">
			<img th:if="${store.logo_file == null}" width="100" height="100" th:src="@{/images/none.png}">
			</a></td>
			<td><a th:href="|/store/${store.store_pk}/menu/update|"><span th:text="${store.name}"></span></a></td>
			<td><form method="post" th:action="@{|/store/${store.store_pk}/delete|}"><button class="btn btn-danger" >삭제</button>
			</form>
			</td>
		</tr>
		
	</tbody>
</table>

</div>
</div>
</body>
</html>