<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>회원탈퇴</title>
</head>
<body>
	<div th:fragment="userDelete_contents">
		<div class="container">
			<div class="col-sm-5">
				<h1>사용자 수정</h1>
				
				<form method="post" th:action="@{/userDelete}"
					th:object="${userInfo}">
					<input type="hidden" name="user_id" th:field="*{user_id}"/>
								<button class="btn btn-danger btn-lg" type="submit" name="delete">삭제</button>
						
				</form>
			</div>
			
		</div>
	</div>
</body>
</html>
